@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


body {
  background-color: hsl(212, 45%, 89%);
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Make sure the body takes up the full viewport height */
  margin: 0; /* Reset default body margin */
}

p {
  color: hsl(218, 44%, 22%);
  font-size: 1rem;
  font-family: 'Outfit', sans-serif;
}

img {
  border-radius: 1rem;
}

.card {
  background-color: white;
  padding: 1rem;
  border-radius: 2rem;
  width: 30%;
  margin: 0 auto; /* Center the card on the page */
  box-shadow: 0px 0px 1rem rgba(0,0,0,0.15);
  align-items: flex-start; /* Adjusting the alignment of the flex items */
}

.card__title {
  font-weight: bold;
  font-size: x-large;
  font-family: sans-serif;
}

.card__description {
  font-weight: bold;
  color: grey;

  font-size: large;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will make the image cover the entire area of the card, cropping if necessary */
}

.container {
  display: flex;
  flex-direction: column; /* align vertical */
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.textbox {
  padding: 1rem;
  text-align: center;
}
